.classy{color: "purple"}
<<<<<<< HEAD
<<<<<<< HEAD
.classyr{color: "purple"}


=======
>>>>>>> 465ad5e910277805283e7f1d7f4d35cccc228025
=======


.classy{color: "purple"}
.classy{color: "purple"}
.classy{color: "purple"}
.classy{color: "purple"}
>>>>>>> test

.classy{color: "purple"}


.classy{color: "purple"}
.classy{color: "purple"}
.classy{color: "purple"}
.classy{color: "purple"}.classy{color: "purple"}


.classy{color: "purple"}
.classy{color: "purple"}
.classy{color: "purple"}
.classy{color: "purple"}.classy{color: "purple"}


.classy{color: "purple"}
.classy{color: "purple"}
.classy{color: "purple"}
.classy{color: "purple"}.classy{color: "purple"}


.classy{color: "purple"}
.classy{color: "purple"}
.classy{color: "purple"}
.classy{color: "purple"}